.CollapseContainer {
    display: flex;
    flex-direction: row;
  }
  
  .Collapse {
    margin-top: 60px; /* Adjust based on header height */
    margin-left: 220px; /* Adjust based on sidebar width */
    padding: 20px;
    width: calc(100% - 220px); /* Adjust width based on sidebar width */
    transition: margin-left 0.3s ease, width 0.3s ease;
  }
  
  .Collapse.collapsed {
    margin-left: 50px; /* Adjust based on collapsed sidebar width */
    width: calc(100% - 50px); /* Adjust width based on collapsed sidebar width */
  }
  
 
  
  /* Responsive Design */
  @media (max-width: 767px) {
    .CollapseContainer {
      flex-direction: column;
    }
  
    .Collapse {
      margin-left: 0;
      width: 100%;
    }
  
    .Collapse.collapsed {
      margin-left: 0;
      width: 100%;
    }
  }